input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="week"] {
  display: block;
  padding: 2px;
  width: 100%;
}

input[type="color"] {
  display: block;
  cursor: pointer;
  width: 90%;
  height: 27px;
  border: none;
  background: none;
  padding: 0;
  border-radius: 0px;
}

input,
textarea {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #6b6b6b;
}