body {
  scroll-behavior: smooth;
}
/* .btcd-fld-itm:empty{
  display: none;
  background: red;
} */

.fld-wrp {
  font-family: sans-serif !important;
  box-sizing: border-box !important;
  width: 100%;
  background: #fff;
  cursor: default;
  height: 100%;
  padding: 10px;
  & > * {
    box-sizing: border-box !important;
  }
}

.fld-lbl {
  display: block;
  font-size: 15px;
  margin: 0;
  color: rgb(54, 54, 54);
  font-weight: 500;
}

input.fld {
  height: 40px !important;
}

input.fld,
textarea.fld {
  color: black !important;
  background: white !important;
  font-family: sans-serif;
  padding: 8px !important;
  font-size: 15px !important;
  width: 100% !important;
  outline: none !important;
  display: inline-block;
  margin: 5px 0 0 0 !important;
  border-radius: 5px !important;
  border: 1.5px solid #505050 !important;
  transition: all 0s;
  &:focus {
    border-color: #505050 !important;
    box-shadow: 0 0 0 1px #505050 !important;
  }
}

.fld[type="date"],
.fld[type="datetime-local"],
.fld[type="time"],
.fld[type="month"],
.fld[type="week"] {
  // display: flow-root;
  line-height: 1 !important;
  width: 100%;
  padding: 5px !important;
}

.fld[type="color"] {
  cursor: pointer !important;
  height: 32px !important;
  background: white !important;
  padding: 2px !important;
}

textarea.fld {
  height: calc(100% - 20px);
  resize: vertical;
}
.fld::placeholder {
  color: rgb(133, 133, 133) !important;
}

input:required .fld-lbl::after {
  margin-left: 2px;
  content: "*"; // --------------------------------------------------
  font-size: 20px;
  position: absolute;
}

.fld + .slim {
  margin: 5px 0 0 0 !important;
  padding: 0 !important;
  border: none !important;
  & > .ss-multi-selected,
  .ss-single-selected {
    min-height: 40px !important;
    border: 1.5px solid #505050 !important;
    border-radius: 5px !important;
  }
  & .ss-disabled {
    color: rgb(133, 133, 133) !important;
  }
}

.fld {
  & .btcd-mrk {
    border: 1.5px solid #505050 !important;
  }
}

.ss-main .ss-content .ss-search input:focus {
  border: 1px solid #87bfff !important;
  box-shadow: none !important;
}

.ss-content {
  border-radius: 6px !important;
}
.ss-main .ss-content .ss-search input {
  font-size: 13px !important;
}

.blnk-blk {
  width: 100%;
  height: 100%;
  background: white;
  &:hover {
    background: aliceblue;
  }
}

// chek box style start
.fld > .btcd-ck-wrp {
  color: rgb(54, 54, 54);
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  font-weight: normal;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  user-select: none;
  height: 19px;
  margin: 8px;
  width: auto;
}

.fld .btcd-ck-wrp input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.fld .btcd-ck-con {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.fld .btcd-mrk {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  box-sizing: content-box;
  border-radius: 3px;
  background-color: #fff;
}

.fld .btcd-ck-wrp:hover input ~ .btcd-mrk {
  border-color: #0a8dff !important;
}

.fld .btcd-ck-wrp input:checked ~ .btcd-mrk {
  background-color: #0a8dff;
  border-color: transparent !important;
}

.fld .btcd-mrk:after {
  content: "";
  position: absolute;
  display: none;
}

.fld .btcd-ck-wrp input:checked ~ .btcd-mrk:after {
  display: block;
}

.fld .btcd-ck-wrp .btcd-mrk:not(.rdo):after {
  top: 47%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.fld .btcd-ck-wrp .btcd-mrk:not(.ck):after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
  border-radius: 50%;
  background: #0a8dff;
}

// chek box style end

.br-50 {
  border-radius: 500px;
}

.btcd-round > .btcd-ck-wrp > .btcd-mrk {
  border-radius: 50%;
}

.fld-wrp {
  min-height: inherit;
  padding: 10px;
  background: #fff;
}

.btcd-frm-sub {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}
.btcd-sub-btn {
  height: auto;
  width: auto;
  font-family: sans-serif;
  line-height: 1;
  border: none;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 4px -2px transparentize(#000000, 0.6);
}
.btcd-sub {
  background: #0083f3 !important;
  text-transform: none !important;
  text-decoration: none !important;
  font-weight: bold;
  color: white;
  &:hover {
    background: #0072d6 !important;
  }
  &:active {
    background: #0066be !important;
  }
}
.btcd-rst {
  background: #edf1f5 !important;
  text-transform: none !important;
  text-decoration: none !important;
  font-weight: normal !important;
  color: #23435f !important;
  &:hover {
    background: #ededf1 !important;
  }
  &:active {
    background: #f1f1f1 !important;
  }
}

.btcd-btn-md {
  padding: 10px 20px 10px 20px !important;
  font-size: 15px !important;
}
.j-c-c {
  justify-content: center;
}
.j-c-e {
  justify-content: flex-end;
}
.ful-w {
  width: 100%;
}
// file upload style start
.file-wrp {
  background: #fff;
  font-family: sans-serif !important;
  height: 100%;
  padding: 10px;
  & > label {
    display: block;
  }
}

.btcd-f-wrp {
  cursor: pointer !important;
  margin-top: 6px !important;
  width: 100%;
  position: relative;
}

.btcd-f-wrp .btn-wrp {
  display: inline-flex;
  align-items: center;
}

.btcd-f-input {
  display: inline-block !important;
  width: 100%;
  position: relative !important;
  overflow: hidden !important;
}

.btcd-f-input > div > input::-webkit-file-upload-button {
  cursor: pointer;
}

.btcd-f-wrp .btcd-f-title {
  font-size: 14px !important;
}

.btcd-f-wrp .f-max {
  color: gray;
  font-size: 10px;
  margin-left: 5px;
}

.btcd-f-wrp .btcd-inpBtn {
  cursor: pointer;
  background: #f3f3f3;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-right: 8px;
  height: 35px;
  box-shadow: none;
}

.btcd-f-wrp .btcd-inpBtn img {
  width: 24px;
  margin-right: 5px;
  display: inline-block;
}

.btcd-f-wrp .btcd-inpBtn span,
.btcd-f-wrp > span {
  font-size: 14px !important;
  color: rgb(75, 75, 75);
  font-weight: normal !important;
  vertical-align: middle !important;
  text-transform: none !important;
}

.btcd-f-input > .btcd-f-wrp > input {
  z-index: 100;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 42px;
  cursor: pointer;
}

.btcd-f-wrp:hover {
  background: #fafafa;
  border-radius: 10px;
}

.btcd-chat-dot {
  width: 10px;
  height: 10px;
  background: #07bc60;
  display: inline-block;
  border-radius: 10px;
}

.btcd-files > div {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border-radius: 10px;
  margin-left: 10px;
  width: 90%;
  margin-top: 10px;
  height: 40px;
}

.btcd-files > div > div {
  display: inline-block;
  width: 75%;
}

.btcd-files > div > div > small {
  color: gray;
}

.btcd-files > div > img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 10px;
}

.btcd-files > div > div {
  display: flex;
  align-items: center;
}

.btcd-files > div > div > span {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btcd-files > div > div > small {
  font-size: 12px;
  line-height: 1;
  margin-left: 5px;
}

.btcd-files > div > button {
  background: #e8e8e8;
  color: gray;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  line-height: 1;
  font-size: 20px;
  margin-right: 6px;
  padding: 0;
  box-shadow: none;
}

.btcd-files > div > button:hover {
  background: #bbbbbb;
}

.btcd-old-file {
  margin-left: 35px;
  font-size: 12px;
  & > div > a {
    text-decoration: none;
    color: #004077;
    margin-right: 10px;
    &:hover {
      color: #0a8dff;
    }
  }
}
// file upload end
